@import "../styles/theme";
@import "~antd/lib/style/mixins/clearfix";

.main {
  position: relative;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 417px;
    background: no-repeat center center;
    background-color: #ccc;
    background-attachment: scroll;
    background-size: cover;
    margin-bottom: 0;
    background-image: url("../assets/home-bg.jpg");
  }

  .headerContainer {
    color: @white;
    text-align: center;

    h1 {
      color: @white;
      font-size: 80px;
    }

    span {
      font-size: 20px;
      font-weight: 200;
    }
  }

  .container {
    max-width: @container-width;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    .clearfix();
    margin-top: 30px;
  }

  .aside {
    width: 100%;
  }
}
